<!DOCTYPE html>
<html>
    <head>
        <title>Sports List</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
        <link rel="stylesheet" href="/app.css">
    </head>
    <body>
        <div class="ui stackable menu">
            <a href="/" class="item" id="logo"><i class="chess queen icon"></i><b>Sports</b></a>
